@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0a0b0e;
    color: #f4f4f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }
}

/* Awwwards Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #0a0b0e;
}

::-webkit-scrollbar-thumb {
  background: #252834;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #43f283;
}

.code-font {
  font-family: 'JetBrains Mono', 'Fira Code', monospace;
}
